@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
 * Floating Vue
 */
@import 'floating-vue/dist/style.css';

html, body, #app {
  width: 100%;
  height: 100%;
}

.ok-button {
  @apply inline-block mt-4 uppercase rounded-full border border-black text-xs px-6 py-2 font-medium tracking-widest hover:text-white hover:bg-black
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

/*
 * Commentary tree
 */

.tree ul li:last-child {
  @apply mb-2
}

.tree {
    details > summary {
      position: relative;
      padding-left: 24px;
      margin-bottom:4px;
      list-style: none;
    }

    details > summary::marker,
    details > summary::-webkit-details-marker {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: none;
    }

    details > summary::before {
      position: absolute;
      left: 0;
      margin-top: 2px;
      content: url("data:image/svg+xml,%3Csvg id='Gruppe_396' data-name='Gruppe 396' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg id='Ellipse_2' data-name='Ellipse 2' fill='none' stroke='%23000' stroke-width='1'%3E%3Ccircle cx='9' cy='9' r='9' stroke='none'/%3E%3Ccircle cx='9' cy='9' r='8.5' fill='none'/%3E%3C/g%3E%3Cg id='arrow_forward-sharp' transform='translate(4.584 4.584)'%3E%3Cpath id='Pfad_2' data-name='Pfad 2' d='M4.5 0 3.708.793l3.14 3.146H0V5.064H6.848L3.708 8.21 4.5 9 9 4.5Z'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    details[open] > summary::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg id='Gruppe_395' data-name='Gruppe 395' transform='translate(18) rotate(90)'%3E%3Cg id='Ellipse_2' data-name='Ellipse 2' fill='none' stroke='%23000' stroke-width='1'%3E%3Ccircle cx='9' cy='9' r='9' stroke='none'/%3E%3Ccircle cx='9' cy='9' r='8.5' fill='none'/%3E%3C/g%3E%3Cg id='arrow_forward-sharp' transform='translate(4.584 4.584)'%3E%3Cpath id='Pfad_2' data-name='Pfad 2' d='M4.5 0 3.708.793l3.14 3.146H0V5.064H6.848L3.708 8.21 4.5 9 9 4.5Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}

/*
 * Typography: Prose Classes
 */

.prose {
  @apply !max-w-none text-black
}

.prose h1 {
  @apply font-medium uppercase font-sans tracking-wider text-xl lg:text-2xl mt-12 mb-6
}

.prose h2 {
  @apply font-medium uppercase font-sans tracking-wider text-xl lg:text-2xl mt-12 mb-6
}

.prose strong {
  @apply font-medium
}

.prose h3 {
  @apply font-medium font-sans tracking-wider text-xl lg:text-2xl mt-12 mb-6
}

.prose h4 {
  @apply font-medium font-sans tracking-wider text-lg mb-6
}

.prose p {
  @apply font-sans lg:text-xl !leading-[1.5em] relative mb-6
}

.prose p a {
  @apply underline break-all underline-offset-4
}

.prose em {
  @apply tracking-wide
}

.prose li::marker {
  color: #000;
}

/*
 * Footnotes: General
 */

.footnote-number::after {
  cursor: pointer;
  position: absolute;
}

.footnote-content a {
  @apply underline;
}

/*
 * Footnotes: Commentary Detail View
 */

.commentary {
  counter-reset: footnote-counter;
}

.commentary .footnote-number::after {
  content: counter(footnote-counter);
  counter-increment: footnote-counter;
}

/*
 * Version Comparision: Styling
 */

.version-comparison .diff-wrapper.diff th {
  @apply px-0 py-2
}

.version-comparison .diff-wrapper.diff td {
  @apply p-0
}

/*
 * Version Comparision: Difference Highlighting
 */

.version-comparison del {
  @apply bg-[#e77276]
}

.version-comparison ins {
  @apply bg-[#79ee75] no-underline
}

/*
 * Version Comparision: Footnotes
 */

.version-comparison .diff-wrapper.diff td.old {
  counter-reset: version-old-footnote-counter;
  @apply pr-8 py-2 w-1/4 max-w-lg break-all
}

.version-comparison .diff-wrapper.diff td.old .footnote-number::after {
  content: counter(version-old-footnote-counter);
  counter-increment: version-old-footnote-counter;
}

.version-comparison .diff-wrapper.diff td.new {
  counter-reset: version-new-footnote-counter;
  @apply py-2 w-1/4 max-w-lg break-all
}

.version-comparison .diff-wrapper.diff td.new .footnote-number::after {
  content: counter(version-new-footnote-counter);
  counter-increment: version-new-footnote-counter;
}