<div class="bg-white">
  {{ search:results as="results" }}
    <div class="px-8 py-2 mb-2 border-b border-black">
      <h2 class="text-sm"><span class="font-medium uppercase">{{ get:q}}</span> – {{ results | count }} Resultate gefunden</h2>
    </div>

    <div class="container px-8 py-8">
      <div class="row">
        <div class="col-12">
          <div class="search-results">
              {{ if results }}
                <ul class="border-t border-gray-300 pt-4">
                {{ results }}
                  <li class="flex justify-between items-start border-b border-gray-400 py-4">
                    <span class="flex text-xl font-serif">{{ title }}</span>
                    <span class="flex w-[500px] text-sm text-gray-700">{{ content | raw | bard_text | truncate:200 }}</span>
                    <a class="flex ok-button !mt-0" href="{{ url }}">Öffnen</a>
                  </li>
                {{ /results }}
                </ul>
              {{ else }}
                <p>No results found.</p>
              {{ /if }}
          </div>
        </div>
      </div>
  {{ /search:results }}
</div>