<commentaries
  locale="{{ locale }}"
  :commentaries="[
    {{ collection:commentaries }}
      {{ if content !== null }}  
        {
          'slug': '{{ slug }}',
          'title': '{{ title }}',
          'assigned_editors': [
            {{ assigned_editors }}
              '{{ name }}',
            {{ /assigned_editors }}
          ],
          'assigned_authors': [
            {{ assigned_authors }}
              '{{ name }}',
            {{ /assigned_authors }}
          ]
        },
      {{ /if }}
    {{ /collection:commentaries }}
  ]">
</commentaries>