<ul class="m-4 tree">
    {{ nav:cached handle="collection::commentaries" select="url|title" }}
        {{ if children }}
            <details{{ if is_current || is_parent }} open{{ /if }}>
                <summary>
                    <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ /if }}>
                        {{ if depth == 1 }}
                            {{ title | upper }}
                        {{ else }}
                            {{ title }}
                        {{ /if }}
                    </a>
                </summary>
                <li>
                    {{ if children }}
                        <ul class="pl-6 mb-4">
                            {{ *recursive children* }}
                        </ul>
                    {{ /if }}
                </li>
            </details>
        {{ else }}
            <li>
                <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ /if }}>
                    <span class="font-medium label">{{ title }}</span>
                </a>
            </li>
        {{ /if }}
    {{ /nav:cached }}
</ul>